appdirs==1.4.3
asn1crypto==0.24.0
awsebcli==3.11.0
backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
botocore==1.7.20
braintree==3.37.2
bs4==0.0.1
cachetools==2.0.1
cement==2.8.2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.7
cryptography==2.1.4
cycler==0.10.0
dj-database-url==0.4.2
django==1.10.5
django-allauth==0.31.0
django-embed-video==1.1.2
django-payments==0.11.0
django-simple-history==1.8.2
dnspython==1.15.0
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
enum34==1.1.6
freeze==1.0.10
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
google==1.9.3
google-api-python-client==1.6.4
google-assistant-grpc==0.1.0
google-assistant-sdk==0.4.1
google-auth==1.2.1
google-auth-oauthlib==0.2.0
google-search==1.0.2
googleapis-common-protos==1.5.3
grpcio==1.8.3
gunicorn==19.7.1
html5lib==1.0.1
httplib2==0.10.3
idna==2.6
ipaddr==2.2.0
ipaddress==1.0.19
ipwhois==1.0.0
jmespath==0.9.3
kwconfig==1.1.7
lxml==4.1.1
matplotlib==2.0.2
mechanize==0.3.6
monotonic==1.4
mp3play==0.1.15
mutagen==1.38
MySQL-python==1.2.5
nltk==3.2.5
ntplib==0.3.3
numpy==1.12.1
oauth2client==4.1.2
oauthlib==2.0.6
olefile==0.44
packaging==16.8
pathspec==0.5.0
paytm-oauth==0.2
Pillow==4.0.0
Pinax==0.9a2
progressbar==2.3
protobuf==3.5.1
psycopg2==2.7.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAudio==0.2.11
pycparser==2.18
pygame==1.9.3
Pygments==2.2.0
PyJWT==1.5.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pypiwin32==219
python-dateutil==2.6.1
python-openid==2.2.5
python-whois==0.6.8
pytz==2017.2
PyYAML==3.12
requery==0.3.5.1
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
search-google==1.2.1
selenium==3.8.0
semantic-version==2.5.0
six==1.11.0
sounddevice==0.3.10
SpeechRecognition==3.8.1
stripe==1.59.0
subprocess.run==0.0.8
suds-jurko==0.6
tabulate==0.7.5
tenacity==4.8.0
termcolor==1.1.0
uritemplate==3.0.0
urllib3==1.22
urlunshort==0.2.4
virtualenv==15.1.0
virtualenvwrapper-win==1.2.5
webencodings==0.5.1
websocket-client==0.44.0
whitenoise==3.3.0
whois==0.7
wikipedia==1.4.0
xmltodict==0.11.0
